* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.testa {

  background-image: url("../IMG/pattern.png");
  background-color: blue;

}

.testa img {

  width: 20%;
  margin-top: 60px;

}

p {

  color: red;

}
