* {
/*
  margin: 0;
  padding: 0;
  box-sizing: border-box;
*/
}


/*HEADER*/
.testa {

  background-image: url("../IMG/pattern.png");
  background-color: blue;

}

.testa img {

  width: 20%;
  margin-top: 60px;

}


/*MAIN*/
h1 {

  margin-top: 20px;
  font-size: 54px;

}

h2 {

  color: grey; 

}

h2 span {

  color: mediumblue;

}

h3 {

  color: grey;

}

.immagini img {

  width: 45%;
  height: 100%;

}

.contenuto ul {

  padding-inline-start: 20px;

}

table {

  border-collapse: collapse;
  text-align: left;

}

thead {

  background-color: blue;

}

.sfondo-azzurro {

  background-color: lightblue;

}

.contenuto p span {

  background-color: yellow;

}